<table mat-table [dataSource]="tradesDataSource" class="trades-list">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let trade"> {{ trade.id }} </td>
  </ng-container>

  <ng-container matColumnDef="entry_date">
    <th mat-header-cell *matHeaderCellDef>Entry Date</th>
    <td mat-cell *matCellDef="let trade"> {{ trade.entryDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="entry_price">
    <th mat-header-cell *matHeaderCellDef>Entry Price</th>
    <td mat-cell *matCellDef="let trade"> {{ trade.entryPrice | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="exit_date">
    <th mat-header-cell *matHeaderCellDef>Exit Date</th>
    <td mat-cell *matCellDef="let trade"> {{ trade.exitDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="exit_price">
    <th mat-header-cell *matHeaderCellDef>Exit Price</th>
    <td mat-cell *matCellDef="let trade"> {{ trade.exitPrice | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="profit">
    <th mat-header-cell *matHeaderCellDef>Profit</th>
    <td mat-cell *matCellDef="let trade">
      <app-trade-profit [entryPrice]="trade.entryPrice" [exitPrice]="trade.exitPrice">
      </app-trade-profit>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTrade(row)"></tr>
</table>
