:host {
  display: inline-flex;
  align-items: center;
}

.mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;

  margin-right: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
